@import '../../../styles/variables.scss';
.nav-item,
span {
    color: #ffffff;
    cursor: pointer;
}

a {
    color: $light-gray;
    margin-left: 3em;
    &.active {
        border-bottom: 3px solid $gold;
    }
}
