@import '../../../styles/variables.scss';
.container {
    margin-top: 100px;
    width: 40%;
}

h2 {
    color: $secoundary;
    margin-bottom: 1em;
}

.form-wrapper {
    min-width: 40%;
    margin-bottom: 10%;
    border: 2px solid $light-gray;
    padding: 1em 2em;
}