<app-navbar></app-navbar>

<div class="container-wrapper container justyfy-content-center align-items-center">
    <div class="form-wrapper text-center">
        <h2 class="tetx-center">Login</h2>
        <form novalidate [formGroup]="loginForm" (submit)="submit()">

            <div class="form-group">
                <input type="email" class="form-control" name="email" id="email-input" placeholder="Enter Your Email" formControlName="email">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="email" id="email-input" placeholder="Enter Your Password" formControlName="password">
            </div>

            <button type="submit" class="btn btn-success btn-block" [disabled]="!loginForm.valid">Login</button>

        </form>

        <small><a routerLink="/signup">Don't Have Account Signup Free</a></small>
    </div>
</div>