@import '../../../../../styles/variables.scss';
.chatroom-list {
    border-right: 2px solid $light-gray;
    overflow-y: scroll;
    .chatroom-list-item {
        border-bottom: 1px solid $light-gray;
        padding: 1em;
    }
}